<!DOCTYPE html>
<html>
<head>
	<title>Results.ejs</title>
</head>
<body style="text-align: center;color:navy;">
	<br><br>
	<h1>Mail Type: <%= mailName%></h1>
	<h1>Weight of Mail: <%= weightOfMail%> oz.
	<h1>Price: $<%= mailPrice%></h1>
	
</body>
</html>